body {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  background-color: #00a1ab;
}

#music{
  background-color: #00a1ab;
  margin:auto;
  padding:5%;
  line-height: 1.5;
}

#simon-game{
  padding: 7%; auto;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.welcome-heading{
  font-family: 'EB Garamond', serif;
  color: #f6d743;
  font-size: 3.5rem;
}

.text{
  font-style: italic;
  font-weight: bold;
  width: 70%;
  margin:5% auto 0;
}
.message{
  font-family: 'EB Garamond', serif;
  color: #FEF2BF;
}

.box{
  display: block;
  width: 50%;
  margin: auto;
}

.start-btn{
  border: 1px solid black;
  border-radius: 30%;
  font-size: 12px;
  display: inline-block;
  height: 50px;
  width: 100px;
}
.btn2 {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  border: 10px solid red;
  background-color: red;
  background-image: url("cat.png");
  background-size: contain;
}

.green {
  border: 10px solid green;
  background-color: green;
  background-image: url("cat1.jpg");
  background-size: contain;
}

.blue {
  border: 10px solid blue;
  background-color: blue;
  background-image: url("cat2.jpg");
  background-size: contain;
}

.yellow {
  border: 10px solid yellow;
  background-color: yellow;
  background-image: url("cat4.jpg");
  background-size: contain;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer{
  margin: 2.5% auto 1%;
}